{{ form_start(form, {attr: {class: 'admin-form'}}) }}
<div>
    {{ form_row(form.email, {label: 'Email'}) }}
</div>
<div>
    {{ form_row(form.firstname, {label: 'Prénom'}) }}
</div>
<div>
    {{ form_row(form.lastname, {label: 'Nom'}) }}
</div>
<div>
    {{ form_row(form.nickname, {label: 'Surnom'}) }}
</div>
<div>
    {{ form_row(form.description, {label: 'Description'}) }}
</div>
<div>
    {{ form_row(form.score, {label: 'Score'}) }}
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
