{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block admin_body %}
	<h1>Utilisateurs</h1>

	<table class="admin-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Email</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Surnom</th>
				<th>Avatar</th>
				<th>Description</th>
				<th>Score</th>
				<th>Admin</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.nickname }}</td>
					{% if user.avatar is null %}
						<td>Aucun</td>
					{% else %}
						<td><img src="{{ asset('uploads/images/' ~ user.avatar) }}" alt="Unicorn avatar"/></td>
					{% endif %}
					<td>{{ user.description }}</td>
					<td>{{ user.score }}</td>
					<td>{{ ('ROLE_ADMIN' in user.roles) ? 'Oui' : 'Non' }}</td>
					<td>
						<a href="{{ path('app_admin_user_show', {'id': user.id}) }}">Infos</a>
						{% if app.user.id != user.id %}
							<a href="{{ path('app_admin_user_toggle_admin', {'id': user.id}) }}">Admin On/Off</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucun utilisateur</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
