{% extends 'admin/base.html.twig' %}

{% block title %}
	{{ user.firstname ~ " " ~ user.lastname }}
{% endblock %}

{% block admin_body %}
	<h1>{{ user.firstname ~ " " ~ user.lastname }}</h1>

	<table class="admin-table">
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ user.firstname }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ user.lastname }}</td>
			</tr>
			<tr>
				<th>Surnom</th>
				<td>{{ user.nickname }}</td>
			</tr>
			<tr>
				<th>Avatar</th>
				<td>{{ user.avatar }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ user.description }}</td>
			</tr>
			<tr>
				<th>Score</th>
				<td>{{ user.score }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ user.roles|json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_admin_user_index') }}">Retour</a>

	<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Editer</a>

	{% if app.user.id != user.id %}
		{{ include('admin/user/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
