{% extends 'base.html.twig' %}

{% block title %}Accueil - {{parent()}}
{% endblock %}


{% block body %}
<main class="homePages">
  <section>
    <img  src="{{ asset('build/images/unicorn-index.png') }}"  class="imgMedium" >
    <h1>Bienvenue dans Happiness & Glitters</h1>
  </section>
  <section>
    <p> Ici tu vas pouvoir mettre à l'épreuve ta licorne et défier celle de ton adversaire !</p>

    <div class="versus">
      <img src="{{ asset('build/images/unicorn-left.png') }}">
      <img src="{{ asset('build/images/vs-index.png') }}">
      <img src="{{ asset('build/images/unicorn-right.png') }}">
    </div>

    <p>Le but du jeu ? Envoyer le plus de bisous, de hugs et d'arc-en-ciel possible
    </br>pour gagner des points et sortir vainqueur de ce combat d'amour! </p>
  </section>
  <section class="bottomSection">
    <img src="{{ asset('build/images/dab-unicorn.png') }}" class="imgMedium" >
	  <a href="/rules" class="redButton">Voir Règles! </a>
  </section>


</main>
{% block title %}Home
{% endblock %}

{% block content %}
	<div class="pink-stripe">
		<h1>
			Let's start coding&nbsp;&#129304;
		</h1>
	</div>
	<div class="white-stripe">
		<img src="{{ asset('build/images/LOGO_WILD_CODE_SCHOOL.png') }}" alt="">
		<a href="{{ path('app_rules_index') }}">Add a User</a><br>
		<a href="{{ path('app_user_index') }}">Classement</a><br>
	</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script src="/assets/js/header.js"></script>
{% endblock %}