{% extends 'base.html.twig' %}

{% from "component/_user_avatar.html.twig" import user_avatar %}

{% block title %}Combat -
	{{ parent() }}
{% endblock %}

{% block content %}
	<main>
		<div class="choose_fighter">
			<h1>Choisis ton adversaire!</h1>
		</div>

		<div class="sectionVS">
			{{ user_avatar(app.user) }}
			<img src="{{ asset('build/images/vs-index.png')}}" class="vs_pic" alt="vs picture">
			{{ user_avatar(opponent)}}
		</div>

		<table>
			<tr>
				<th></th>
				<th>Pseudo</th>
				<th>Points</th>
				<th></th>
			</tr>
			{% for user in users %}
				<tr id="rowSelected">
					<td>{{ user_avatar(app.user) }}</td>
					<td class="right-justify">{{user.nickname}}</td>
					<td class="right-justify">{{user.score}}</td>
					<td>
						<a href="{{ path('app_fight_indexUsers', {'id' : user.id}) }}"><input type="submit" value="choisir" class="chooseOpponentButton"></a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<form action="{{ opponent.id ? path('app_fight_confirmOpponent',{ 'id' : opponent.id }) :'' }}" method="post">
			<input type="hidden" name="opponentId" value="{{opponent.id}}"/>
			<button type="submit" class="goFight" style="button">
				Lancer le combat !
			</button>
		</form>

	</main>
{% endblock %}
