{% extends 'base.html.twig' %}

{% block title %}Combat -
	{{ parent() }}
{% endblock %}

{% block content %}
	<main>
		<div class="choose_fighter">
			<h1>Choisis ton adversaire!</h1>
		</div>

		<div class="sectionVS">
			{% if app.user.avatar is defined and app.user.avatar is same as("") %}
				<img src="{{ asset('build/images/' ~ app.user.avatar) }}" class="picture_avatar" alt="{{app.user.nickname}}">
			{% else %}
				<img src="{{ asset('build/images/img_avatar.png')}}" class="picture_avatar" alt="Avatar">
			{% endif %}
			<img src="{{ asset('build/images/vs-index.png')}}" class="vs_pic" alt="vs picture">
			{% if opponent.avatar is defined and opponent.avatar is same as("") %}
				<img src="{{ asset('build/images/' ~ opponent.avatar) }}" class="picture_avatar" alt="avatar opponent">
			{% else %}
				<img src="{{ asset('build/images/img_avatar.png')}}" class="picture_avatar" alt="Avatar">
			{% endif %}
		</div>

		<table>
			<tr>
				<th></th>
				<th>Pseudo</th>
				<th>Points</th>
				<th></th>
			</tr>
			{% for user in users %}
				<tr id="rowSelected">
					<td><img src="{{ asset('build/images/' ~ user.avatar) }}" alt="avatar"></td>

					<td class="right-justify">{{user.nickname}}</td>
					<td class="right-justify">{{user.score}}</td>
					<td>
						<a href="{{ path('app_fight_indexUsers', {'id' : user.id}) }}"><input type="submit" value="choisir" class="chooseOpponentButton"></a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<form action="{{ opponent.id ? path('app_fight_confirmOpponent',{ 'id' : opponent.id }) :'' }}" method="post">

			<input type="hidden" name="opponentId" value="{{opponent.id}}"/>
			<button type="submit" class="goFight" style="button">
				Lancer le combat !
			</button>
		</form>

	</main>
{% endblock %}
