{{ form_start(form, {attr: {class: 'admin-form'}}) }}

<div>
	{{ form_label(form.username, 'Nom') }}
	{{ form_widget(form.username) }}
	{{ form_errors(form.username) }}
</div>

<div>
	{{ form_label(form.password, 'Mot de passe') }}
	{{ form_widget(form.password) }}
	{{ form_errors(form.password) }}
</div>

<button type="submit">Se connecter</button>

{{ form_end(form) }}
