{% extends 'admin/base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block admin_body %}
    <h1>Administrateurs</h1>

    <a href="{{ path('app_admin_admin_new') }}">Créer un administrateur</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.username }}</td>
                <td>
                    <a href="{{ path('app_admin_admin_show', {'id': admin.id}) }}">Infos</a>
                    <a href="{{ path('app_admin_admin_edit', {'id': admin.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
