{% extends 'admin/base.html.twig' %}

{% block title %}
	{{ admin.username }}
{% endblock %}

{% block admin_body %}
	<h1>{{ admin.username }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ admin.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ admin.username }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_admin_admin_index') }}">Retour</a>

	<a href="{{ path('app_admin_admin_edit', {'id': admin.id}) }}">Editer</a>

	{% if app.user.id != admin.id %}
		{{ include('admin/admin/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
