{% extends 'base.html.twig' %}

{% block title %}
	- Règles du jeu
{% endblock %}

{% block javascript %}
	{{ encore_entry_script_tags('form-modale') }}
	{{ encore_entry_script_tags('profile-pic') }}
	{{ encore_entry_script_tags('card-flip') }}
{% endblock %}

{% block content %}
	<main>
		<h1 class="rule-title">Bienvenue
			{{ app.user is null ? "":app.user.nickname}}
			dans Happiness & Glitters</h1>

		<h2 class="rule-title">Comment jouer ? (et peut-être gagner)</h2>
		<ul class="rules">
			<li class="rule">
				<div class="rule-paragraphs">
					<p>
						Happiness & Glitters est un jeu hautement compétitif, basé sur des affrontements de gentillesse entre des licornes toutes mignonnes.
					</p>
					<p>
						Un affrontement se déroule au tour par tour et est découpé en plusieurs rounds.
					</p>
				</div>
				<div class="rule-image">
					<<<<<<<HEAD<imgsrc="{{asset('build/images/unicornVS.png')}}"alt=""class="unicornVS">=======<imgsrc="{{asset('build/images/unicornVS.png')}}"alt=""class="unicornvs">>>>>>>> 410bd9683f92a2c2db8089531b7bc5bc07c022d4
				</div>
			</li>
			<li class="rule">
				<div class="blink-paragraph" id="blink">
					<p>Clique sur la licorne !</p>
				</div>
				<div class="rule-image unicorn-show" id="card-flip">
					<img src="{{ asset('build/images/unicorn-card.png') }}" alt="" class="unicorn-card">
				</div>
				<div class="rule-paragraphs" id="paragraphs-flip">
					<p>
						Au début de l’affrontement, tu vas devoir sélectionner UNE SEULE LICORNE qui t’accompagnera tout au long de la partie.
					</p>
					<p>
						Chaque licorne est unique et possède plusieurs capacités dont les caractéristiques diffèrent.
					</p>
				</div>
			</li>
			<li class="rule">
				<div class="rule-paragraphs">
					<p>
						Au début de l’affrontement, ton adversaire et toi avez 100 POINTS DE GENTILLESSE (PG) chacun.
					</p>
					<p>
						Le total de PG évolue en cours de partie en fonction des capacités lancées par les licornes trop mignonnes !
					</p>
					<p>
						Chaque capacité a un coût de PG, un gain de PG et une chance de toucher différents.
					</p>
				</div>
				<div class="rule-image">
					<img src="{{ asset('build/images/unicorn-walking.png') }}" alt="" class="unicorn-walking">
				</div>
			</li>
			<li class="rule">
				<div class="rule-paragraphs endgame">
					<p>Deux moyens de terminer la partie :</p>

					<p>1. Le premier joueur à atteindre 200 PG gagne la partie !
					</p>

					<p>2. Le joueur qui tombe à 0 PG perd la partie !</p>
				</div>
			</li>
		</ul>

		<<<<<<<HEAD<divclass="rule-button"><buttonclass="redButton"data-modal="modalOne"style="button"onclick="">Pasencoremembre?</button><divid="modalOne"class="modal{#{{errors|length>0?'displayed':''}}">#}<divclass="modal-content"><aclass="close">&times;</a>=======<divclass="rule-button"><ahref="/fight"class="redButton">Combat</a></div><divclass="rule-button"><buttonclass="redButton"data-modal="modalOne"style="button"onclick="">Pasencoremembre?</button></div><divid="modalOne"class="modal{{errorsisdefinedanderrors|length>0?'displayed':''}}"><divclass="modal-content"><aclass="close">&times;</a>>>
		{#{% if sessionUser %}
																																<div class="rule-button">
																																	<a href="/fight" class="redButton">Combat</a>
																																</div>
																															{% else %}
																																</div>#}
		{#{% include 'User/_addUserForm.html.twig' %}#}
				{% if app.user is not null %}
			{% else %}
				{% include 'rules/_form.html.twig' %}>>>>> 410bd9683f92a2c2db8089531b7bc5bc07c022d4</div>
		</div>
		<div class="rule-button">
			<button class="redButton" id="login-button" data-modal="modalTwo">J'ai déja un compte</button>
		</div>
		<div id="modalTwo" class="modal">
			<div class="modal-content">
				<a class="close">&times;</a>
				<<<<<<<HEAD</div></div></main>=======</div></div></main>{{parent()}}>>>
			{#{% include 'User/_login.html.twig' %}#}
				{#{% endif %}#}
			{% endblock %}
			{% include 'rules/_login.html.twig' %}
		{% endif %}
	{% endblock %}
	{% block javascripts %}{% endblock %}>>>> 410bd9683f92a2c2db8089531b7bc5bc07c022d4
