{% extends 'base.html.twig' %}

{% block title %}User index -
	{{parent()}}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('confirmModale') }}
	{{ encore_entry_script_tags('formModale') }}
{% endblock %}


{% block content %}
	<main>
		<h1>Classement</h1>
		<section class="info">
			<div class="info-session">
				<h2>Tes infos</h2>
				<ul>
					{% set rank = 1 %}
					{% for user in users %}
						{% if app.user.id is defined and app.user.id is same as(user.id) %}
							<li>
								<p>Rang
									{{rank}}
								</p>
							</li>
							<li>
								<p>Points
									{{user.score}}
								</p>
							</li>
						{% endif %}
						{% set rank =  rank + 1  %}
					{% endfor %}
				</ul>
			</div>
			<div class="podium">
				{% for user in users|slice(0,3) %}
					<div class="ranking">
						<figcaption>{{user.nickName}}</figcaption>
						{% if user.avatar is not defined or user.avatar == ('') %}
							<img class='userPic' src="{{ asset('build/images/img_avatar.png')}}" alt="{{user.nickName}}"/>
						{% else %}
							<img class='userPic' src="{{ asset(vich_uploader_asset(user))}}" alt="{{user.nickName}}"/>

						{% endif %}
						<div class=" podium-{{loop.index}} ">
							<div class="podium-score">{{user.score}}</div>
							<img class="podium-img" src="{{ asset('build/images/podium2.png')}}"/>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		<table class="tableRanking">
			<tr>
				<th></th>
				<th>Rang</th>
				<th>Pseudo</th>
				<th>Points</th>
			</tr>
			{% set rank = 1 %}
			{% for user in users %}
				<tr>
					{% if (user.avatar is not defined) or (user.avatar == ('')) %}
						<td><img class='userPic' src="{{ asset('build/images/img_avatar.png')}}"/></td>
					{% else %}
						<td><img class='userPic' src="{{ asset(vich_uploader_asset(user))}}"/></td>
					{% endif %}
					<td>{{rank}}</td>
					<td class="left-justify">{{user.nickName}}</td>
					<td class="right-justify">{{user.score}}</td>
				</tr>
				{% set rank =  rank + 1  %}
			{% endfor %}
		</table>
	</main>
{% endblock %}
