{% extends 'base.html.twig' %}

{% from "component/_user_avatar.html.twig" import user_avatar %}

{% block title %}User index -
	{{parent()}}
{% endblock %}

{% block content %}
	<main>
		<h1>Classement</h1>
		<section class="info">
			<div class="info-session">
				<h2>Tes infos</h2>
				<ul>
					{% set rank = 1 %}
					{% for user in users %}
						{% if app.user.id is defined and app.user.id is same as(user.id) %}
							<li>
								<p>Rang
									{{rank}}
								</p>
							</li>
							<li>
								<p>Points
									{{user.score}}
								</p>
							</li>
						{% endif %}
						{% set rank =  rank + 1  %}
					{% endfor %}
				</ul>
			</div>
			<div class="podium">
				{% for user in users|slice(0,3) %}
					<div class="ranking">
						<figcaption>{{user.nickName}}</figcaption>
						{{ user_avatar(user) }}
						<div class=" podium-{{loop.index}} ">
							<div class="podium-score">{{user.score}}</div>
							<img class="podium-img" src="{{ asset('build/images/podium2.png')}}"/>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		<table class="tableRanking">
			<tr>
				<th></th>
				<th>Rang</th>
				<th>Pseudo</th>
				<th>Points</th>
			</tr>
			{% set rank = 1 %}
			{% for user in users %}
				<tr>
                    <td>{{ user_avatar(user) }}</td>
					<td>{{rank}}</td>
					<td class="left-justify">{{user.nickName}}</td>
					<td class="right-justify">{{user.score}}</td>
				</tr>
				{% set rank =  rank + 1  %}
			{% endfor %}
		</table>
	</main>
{% endblock %}
