{% extends 'base.html.twig' %}

{% block title %}
	- Personal Profile
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('confirmModale') }}
	{{ encore_entry_script_tags('formModale') }}
{% endblock %}


{% block content %}
	<main>
		<aside id="id01" class="modal">
			<div class="modal-content">
				<section class="formSection" style="width: 85%;">
					<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

					<h2 class="deleteWarning">Tu es sûr de vouloir nous quitter
						{{user.nickName}}?</h2>
					<div class="centerImg">
						<img src="{{ asset('build/images/crying-unicorn.png') }}"/>
					</div>
					<form action="{{ path('app_user_delete', {'id': user.id} ) }}" method="post">
						<div class="modalButtons">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
							<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelButton">Abandon</button><br>
							<button type="submit" formaction="{{ path('app_user_delete', {'id': user.id}) }}" class="redButton">Supprimer Mon Compte</button>
						</div>
					</form>
				</section>
			</div>
		</aside>

		<section class="top">

			<div class="left-top">
				<img src="{{ vich_uploader_asset(user) }}" alt="Avatar" class="userPic">
			</div>

			<div class="right-top">
				<h2>Ton Score</h2>
				<div class="points">{{ user.score }}
					Points</div>
			</div>

		</section>

		<section class="bottomSection">

			<h1 class="detailsTitle">Mes infos
				<a href={{ path( "app_user_edit", { 'id' : user.id } ) }} class="editPen">✏️</a>
			</h1>

			<table class="tableShow">
				<tr>
					<td>Prenom</td>
					<td>{{ user.firstName }}</td>
				</tr>
				<tr>
					<td>Nom</td>
					<td>{{ user.lastName }}</td>
				</tr>
				<tr>
					<td>Nickname</td>
					<td>{{ user.nickName }}</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>{{ user.description }}</td>
				</tr>
			</table>

			<div class="endDiv">
				<a href="#" onclick="document.getElementById('id01').style.display='block'">Supprimer mon profil</a>
				<a href={{ path("app_rules_index")}}>⬅️ Retour</a>

			</div>

		</section>
	</main>
{% endblock %}
